@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
<<<<<<< .merge_file_a06264
<<<<<<< HEAD
    425.555.010004
=======
    425.555.01000
>>>>>>> origin/adilkeskin-patch-1
=======
    425.555.0100
>>>>>>> .merge_file_a08744
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
